.mainBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.boxCard{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.boxReview{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     margin: 10px;
     position: relative;
     height: 80px;
     background-color: #c1c1c1;
     border-radius: 5px;
}

.styleflex{
 display: flex;
 width: 80%;
 align-items: center;
 justify-content: center;
 margin-left: 1rem;
 margin-top: 1rem;
}


.margin{
    margin: 0;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   
}

.btnDelete{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #282828;
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: 6px 10px;
}