.main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    height: 100%;
    margin: 1rem;
   
}

.boxSubMain{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-top: 1rem;
    height: 100%;
}

.input{
    margin-bottom: 1rem;
    width: 90%;
    height: 40px;
    border: none;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    padding-left: 10px;
    text-justify: auto;
}

.inputTable{
    margin-bottom: 1rem;
    width: 50%;
    height: 40px;
  
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    /* position: relative;
     right: 5rem; */
     padding-left: 10px;
     text-justify: auto;
}

.select{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: center;
    margin-bottom: 4rem;
}

.selectinput{
    width: 60%;
    height: 40px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    margin-left: 1rem;
}

.btnMp{
    border-radius: 5px;
    background-color: #2979ff;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-transform: uppercase;
}

.arrow{
    position: relative;
    right: 10rem;
    width: 32px;
    height: 32px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}