.mainBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

.boxProduct{
    width: 340px;
    margin: .6rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    position: relative;
    background-color: #fff; 
}

.unavailable{
    width: 340px;
    margin: .6rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    position: relative;
    background-color: #fff; 
    opacity: .7;
}

.itemUnavailable{
    position: absolute;
    top: .8rem;
    right: 3rem;
    color: red;
    
}

@media screen and (max-width: 800px){
   .boxProduct{
    width: 100%;
   }
   .unavailable{
    width: 100%;
   }
}


.boxTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxTitle2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
   margin: .7rem;
}

.btnBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    border-radius: 100px ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 35px;
    margin: 5px;
    margin-top: 10px;
   
    
}

.title{
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
    overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: red;
        font-weight: 900;
}



.description{
    position: absolute;
    top: 1.5rem;
    margin: 0;
    padding: 10px;
    font-size: 12px;
    font-family: 'roboto';
}

.price{
    padding: 10px;
    margin: 0;
    font-weight: 800;
}

.btn{
    padding: 9px 16px;
    border-radius: 100px;
    border: none;
    font-family: 'roboto';
    background-color: #fff;
}

.btnAdd{
  
   padding: 8px 15px;
   border-radius: 5px;
   background-color: #263238;
   color: #fff;
   font-size: 12px;
   border: none;
   margin-left: 15px;
   

}


.btnAdd:active{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: black;
}
