.mainContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.submaincontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainboxCard{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  
}

.boxcard{
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 width: 95%;
 min-height: 100px ;
 color: #282828;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 0 0 1rem 0 ;
 background-color: #fff;
 border-radius: 1px;
}

.containerbox{
    display: flex;
    width: 100%;
    border-bottom: rgba(0, 0, 0, 0.10) solid 1px;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    position: relative;
    margin: .3rem;
}



.name{
   margin: 0;
   font-size: 1.2rem;
}

.quantity{
   margin: 0 .5rem 0 0;
}

.subconatiner1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    left: 1rem;
    
}

.subconatiner{
  
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.span{
    color: #282828;
    height: 90%;
    width: 1vw;
    position: absolute;
    left: 5px;
    top: 3px;
    border-radius: 10px;
    background-color: #29d884;
}



.subcontainerbox{
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
    font-size: .8rem;
   
}

.emptyCart{
    width: 30px;
    height: 30px;
}

.containerNoOrder{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    align-items: center;
    justify-content: center;
}

.subcontainerNoOrder{
    margin: 10rem 0 0 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}