@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@600&display=swap');

body{
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  height: auto;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; */
  
}

.chat{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index:100
}

html{
  scroll-behavior: smooth;
}

.MessageMedia{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  color: #282828;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 50%;
  font-size: 20px;
  background-color: #ff595a;
}

.boxMessageMedia{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 8rem;
}





