@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@600&display=swap');

body, html{
  box-sizing: border-box;
  font-family: 'Asap condensed';
  scroll-behavior: smooth;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #f5f6f8;
}







